.Products-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
  flex: 1 1 auto;
}
.Product-card {
  max-height: 300px;
  margin: 1.5em;
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
  background: #fff;
  border: 1px solid #2f2f2f;
  padding-bottom: 0.5em;
}
.Product-icon {
  min-width: 80px;
}
.Add-to-cart {
  width: 10em;
  padding: 0.5em 1em;
  background: #e06666;
}
